/* Style général */
body {
    font-family: Arial, sans-serif;
}

/* Section principale */
.section {
    background-color: #f4f4f4;
    height: 1000px;
    padding: 20px;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
}

/* Styles pour le menu mobile */
.navbar-nav {
    background-color: #ddd;
    text-align: center;
}

.navbar-nav li a {
    color: black;
    font-size: 18px;
}

/* Centrer le titre */
h1 {
    margin-top: 20px;
    font-size: 36px;
}

